
.header-info{
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 0px 1px;
    
}
.arrow, .print, .middle{
    display: inline-block;
}
.arrow{
    float: left;
    font-size: 50px;
    padding: 20px;
    opacity: .4;
    text-decoration: none;
}
.print{
    float: right;
    margin: 20px;
}
button{
    width: 70px;
    height: 40px;
    background-color: black;
    color: white;

}
button:hover{
    background-color: lightslategray;
    cursor: pointer;
}
.header-info{
    height: inherit;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.customer-info{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}
.order-info{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 10px;
}
.product-list{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 10px;
}
input{
    width: 30px;
    height: 30px;
    outline-color: orange;
}
